
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/style.css" />

    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #0056b3;
            color: #fff;
            padding: 10px 0;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #217dbb;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="header__inner">
            <div class="logo"><img src="/images/demo.jpeg" alt=""></div>
        </div>
    </div> 
    
    <div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="username" style="font-size: larger;">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password style="style="font-size: larger;">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
            
        </form>
    </div>
</body>
</html>