<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/style.css" />

    <title>Home</title>

</head>
<body>
    <div class="header">
        <div class="header__inner">
            <div class="logo"><img src="/images/demo.jpeg" alt=""></div>
            <ul class="menu">
                <li class="menu__item"><a href="/" class="menu__link" style="font-size: 16px" >DASHBOARD</a></li>
                <li class="menu__item">
                    <a href="" class="menu__link" style="font-size: 16px" >REPORT</a>
                    <div class="menu__child">
                        <div class="menu__child-item">
                            <h4>Elements</h4>
                            <ul class="menu__child-list">
                                <li><a href="/TX_report">TX REPORT</a></li>
                                <li><a href="/CA_report">CA REPORT</a></li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                            </ul>
                        </div>
                        <div class="menu__child-item">
                            <h4>Elements</h4>
                            <ul class="menu__child-list">
                                <li>Demo item</li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                            </ul>
                        </div>
                        <div class="menu__child-item">
                            <h4>Elements</h4>
                            <ul class="menu__child-list">
                                <li>Demo item</li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                            </ul>
                        </div>
                        <div class="menu__child-item">
                            <h4>Elements</h4>
                            <ul class="menu__child-list">
                                <li>Demo item</li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                                <li>Demo item</li>
                            </ul>
                        </div>
                    </div>  
                </li>
                
                <li class="menu__item"><a href="/register" class="menu__link" style="font-size: 16px" >REGISTER</a></li>
                <li class="menu__item"><a href="/search" class="menu__link" style="font-size: 16px" >SEARCH</a></li>
                <li class="menu__item"><a href="/Partners" class="menu__link" style="font-size: 16px" >PARTNER</a></li>
            </ul>
        </div>
    </div>
    
    <div class="left-border">
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>TX Report</p>
    </div>

    <center>
        <div>
            <br>
            <br>
            <iframe title="report" width="900" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNDRlYWUzNGUtZDRjMi00ZmY4LTlmMDktYThjMjk0OWJjNGUwIiwidCI6IjJlMzlhNDM0LWE2YmMtNGJhNC1iZGY1LTQ2YmUyOWMyYTYwMCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
        </div>
        <div>
            <br>
            <br>
            <iframe title="report" width="900" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNDRlYWUzNGUtZDRjMi00ZmY4LTlmMDktYThjMjk0OWJjNGUwIiwidCI6IjJlMzlhNDM0LWE2YmMtNGJhNC1iZGY1LTQ2YmUyOWMyYTYwMCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
        </div>
        <div>
            <br>
            <br>
            <iframe title="report" width="900" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNDRlYWUzNGUtZDRjMi00ZmY4LTlmMDktYThjMjk0OWJjNGUwIiwidCI6IjJlMzlhNDM0LWE2YmMtNGJhNC1iZGY1LTQ2YmUyOWMyYTYwMCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
        </div>
    </center>
    
</body>
</html>

